.top-bar {
  align-items: center;
  background-color: #3b5998;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  height: 100px;
  justify-content: space-around;
  line-height: 6pt;
  width: 100%;
}

a {
  color: #9cb4d8;
}

section {
  background-color: #e9ebee;
  display: flex;
  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif;
  justify-content: flex-start;
}

input, select {
  font-size: 15pt;
  margin: 5px 5px 5px 0;
}

.blocoEsq {
  color: #3b5998;
  margin-top: -80px ;
  margin-left: 50px ;  
  padding: 80px 0;
  width: 60%;
}
.blocoEsq p {
  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: rgb(36, 66, 131);
  margin-left: 25px;
  margin-top: 50px;
  margin-bottom: -70px;
  font-weight: 900;
  text-overflow: initial;
  w 
}

.blocoDir {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.blocoDir input, select {
  border-radius: 3pt;
}

.formCadastro {
  display: flex;
  flex-direction: column;
}

.loginBtn {
  background-color: #4267B2;
  border-color: #1c1e21;
  border-radius: 5%;
  color: #e9ebee;
  padding: 2px 5px;
}

.registerBtn {
  background-color: #60A04E;
}

#flexContainer{
display: block;
}

#facebook-networking{
 display: flex;
 width: 70%;
 margin-left: 70px;
 margin-right: auto;
}

.facebook-logo{
 margin-left: -88px;

}



